<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Purches Crypto</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Purches</li>
      </ol>
    </div>

    <div class="row">
     

      <div class="col-lg-12">
       
        <!-- General Element -->
        <div class="card mb-4">

          <div class="card-body">
             <div class="row">
                  <p>Current rates:   USD = £ 0.10,   BTC = £ 5,745.80,   ETH = £ 107.52</p>
                 
                 <div class="col-md-4 offset-md-4 jp">
                      <div class="inpot">
                          <form action="/action_page.php">
                            <input type="number" name="quantity" min="1" max="500" placeholder="500">
                            
                            <span>Crypto</span>
                          </form>
                          
                          <p>(5,000 Crypto = £ 500 )</p>
                          
                      </div>
                 </div>
              </div>
               <div class="row">
                 <div class="col-md-4 col-sm-12">
                  <div class="inpot1">
                          <form action="/action_page.php">
                            <input type="number" name="quantity" min="1" max="500" placeholder="500">
                            
                            <span>USD</span>
                          </form>
                      <button type="button" class="btn btn-primary mb-1 kp5">Pay with USD</button>
                     
                      
                      </div>
                    
                 </div>
                    <div class="col-md-4 col-sm-12">
                  <div class="inpot1">
                          <form action="/action_page.php">
                            <input type="number" name="quantity" min="1" max="500" placeholder="500">
                            
                            <span>BTC</span>
                          </form>
                       <button type="button" class="btn btn-primary mb-1 kp5">Pay with BTC</button>
                      </div>
                    
                 </div>
                    <div class="col-md-4 col-sm-12">
                  <div class="inpot1">
                          <form action="/action_page.php">
                            <input type="number" name="quantity" min="1" max="500" placeholder="500">
                            
                            <span>ETH</span>
                          </form>
                       <button type="button" class="btn btn-primary mb-1 kp5">Pay with ETH</button>
                      </div>
                    
                 </div>
                 </div>
          </div>
        </div>
        <!-- Input Group -->
      
      </div>
    </div>
    <!--Row-->


  </div>