<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Purchase Crypto</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Purchase</li>
      </ol>
    </div>

    <div class="row">
     

      <div class="col-lg-12">
       
        <!-- General Element -->
        <div class="card mb-4">

          <div class="card-body">
             <div class="row">
                  <p>Current rates:     <span *ngFor = "let list of definedCryptoPrice"><span>{{list.name}} = {{list.price | number:'3.1-5' }} {{fiatObj.symbol}} ,</span></span></p>

                  
                 
                 <div class="col-md-4 offset-md-4 jp">
                      <div class="inpot">
                          <form >
                            <input type="text" class="text-primary"  placeholder="0.00" [(ngModel)]="userGivenAmount" name="userGivenAmount" (keyup)="getMarketRate()">
                            
                            <span>{{selectedCrypto}}</span>
                          </form>
                          
                          <p class="mt-5"></p>
                          
                      </div>
                 </div>
              </div>
               <div class="row">
                 <div class="col-md-6 col-sm-12">
                  <div class="inpot1">
                          <form action="/action_page.php">
                            <input type="text" class="text-primary" placeholder="0.00" [(ngModel)]="usdRate" name="usdRate">
                            
                            <span>USD</span>
                          </form>
                      <button type="button" class="btn btn-primary mb-1 kp5">Pay with USD</button>
                     
                      
                      </div>
                    
                 </div>
                    <div class="col-md-6 col-sm-12" *ngIf="selectedCrypto != 'BTC'">
                  <div class="inpot1">
                          <form action="/action_page.php">
                            <input type="text" class="text-primary" placeholder="0.00" [(ngModel)]="btcRate" name="btcRate">
                            
                            <span>BTC</span>
                          </form>
                       <button type="button" class="btn btn-primary mb-1 kp5">Pay with BTC</button>
                      </div>
                    
                 </div>
                    <div class="col-md-6 col-sm-12" *ngIf="selectedCrypto != 'ETH'">
                  <div class="inpot1">
                          <form action="/action_page.php">
                            <input type="text" class="text-primary" placeholder="0.00" [(ngModel)]="ethRate" name="ethRate">
                            
                            <span>ETH</span>
                          </form>
                       <button type="button" class="btn btn-primary mb-1 kp5">Pay with ETH</button>
                      </div>
                    
                 </div>
                 </div>
          </div>
        </div>
        <!-- Input Group -->
      
      </div>
    </div>
    <!--Row-->


  </div>
  <app-loader [isLoading]="showLoader"></app-loader>