<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">My Profile</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Profile</li>
      </ol>
    </div>

    <div class="row">
     

      <div class="col-lg-12">
       
        <!-- General Element -->
        <div class="card mb-4">

          <div class="card-body">
              <div class="row">
                     <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
          </div>
               <div class="col-lg-6 col-sm-12">
              <div class="form-group">
               <!--  <label for="exampleFormControlInput1">First Name</label> -->
                <input type="name" class="form-control" [(ngModel)]="firstName" name="firstName" id="exampleFormControlInput1" placeholder="Enter First Name">
              </div>
                </div>
                   <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <!-- <label for="exampleFormControlInput1">Last Name</label> -->
                <input type="name" class="form-control" [(ngModel)]="lastName" name="lastName" id="exampleFormControlInput1" placeholder="Enter Last Name">
              </div>
                </div>
                 <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <!-- <label for="exampleFormControlInput1">Email address</label> -->
                <input type="email" class="form-control" [(ngModel)]="emailAddress" name="emailAddress" id="exampleFormControlInput1" placeholder="Enter Email Address">
              </div>
                </div>
                  <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <!-- label for="exampleFormControlInput1">Phone</label> -->
                <input type="text" class="form-control" [(ngModel)]="phone" name="phone" id="exampleFormControlInput1" placeholder="Enter Phone No">
              </div>
                </div>
                 <div class="col-lg-6 col-sm-12">
                     <div class="row">
                         <label for="exampleFormControlSelect1" class="gu">Date of birth</label>
                      <div class="col-md-4">
                      <div class="form-group">
                
                <select class="form-control" [(ngModel)]="dayOfDob" name="dayOfDob" id="exampleFormControlSelect1">
                  <option value="">Day</option>
                  <option *ngFor="let list of dayOfDobList" [value] = "list" >{{list}}</option>
                 
                </select>
              </div>
                     </div>
                      <div class="col-md-4">
                      <div class="form-group">
                <select class="form-control" [(ngModel)]="monthOfDob" name="monthOfDob" id="exampleFormControlSelect1">
                    <option value="">Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">Augest</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
              </div>
                     </div>
                      <div class="col-md-4">
                      <div class="form-group">
                <select class="form-control" [(ngModel)]="yearOfDob" name="yearOfDob" id="exampleFormControlSelect1" >
                  <option value="">Year</option>
                  <option *ngFor="let list of yearOfDobList" [value] = "list" >{{list}}</option>
                </select>
              </div>
                         </div>
                     </div>
                  </div>   
                 <div class="col-lg-6 col-sm-12">
                      <!-- <label for="exampleFormControlInput1">Country</label> -->
                     <select class="form-control" [(ngModel)]="country" name="country" id="exampleFormControlSelect1">
                  <option value="null">Select Country</option>
                  <option *ngFor="let list of countryList" [value] = "list.alias" >{{list.name}}</option>
                 
                </select>
                  </div>
                  <div class="col-lg-6 col-sm-12">
                      <!-- <label for="exampleFormControlInput1">Citizenship</label> -->
                     <select class="form-control" [(ngModel)]="citizenship" name="citizenship" id="exampleFormControlSelect1">
                  <option value="null">Select Citizenship</option>
                  <option *ngFor="let list of countryList" [value] = "list.alias" >{{list.name}}</option>
                  
                </select>
                  </div>
             <div class="col-lg-6 col-sm-12">
                      <!-- <label for="exampleFormControlInput1">Estimated Investment Amount</label> -->
                     <select class="form-control" [(ngModel)]="fiatAmount" name="fiatAmount" id="exampleFormControlSelect1">
                  <option value="null">Select Amount</option>
                  <option *ngFor="let list of countryList" [value] = "list.alias" >{{list.currency}}</option>
                  
                </select>
                  </div>
            
                  <button type="button" class="btn btn-primary mb-1 kpi" (click)="saveProfileData()"><i class="far fa-thumbs-up"></i> Save</button>
              </div>
          </div>
        </div>
        <!-- Input Group -->
      
      </div>
    </div>
    <!--Row-->


  </div>
  <app-loader [isLoading]="showLoader"></app-loader>