<footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>copyright &copy; 2020
          
        </span>
      </div>
    </div>
  </footer>
<!-- </div> -->
<script src="../../../assets/exchange/vendor/jquery/jquery.min.js"></script>
<script src="../../../assets/exchange/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/exchange/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../../assets/exchange/js/ruang-admin.min.js"></script>
<script src="../../../assets/exchange/vendor/chart.js/Chart.min.js"></script>
<script src="../../../assets/exchange/js/demo/chart-area-demo.js"></script>  