<!-- Page info section -->
<section class="page-info-section">
    <div class="container">
        <h2>Team</h2>
        <div class="site-beradcamb">
            <a href="">Home</a>
            <span><i class="fa fa-angle-right"></i> Our Team</span>
        </div>
    </div>
</section>
<!-- Page info end -->



<!-- Blog section -->
<section class="main-page">
    <div class="spad">
    <section class="team-section2 spad">
    <div class="container">
        <div class="row">
        <div class="section-title text-center">
            <h2>Meet Our Team</h2>
            <p>Our experts in the field of crypto currency can always help you with any of your questions!</p>
        </div>
    </div>
    <div class="team-members clearfix">
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/1.jpg" style="background-image: url(&quot;img/member/1.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/1.jpg)'"></div>
                <h2>Tom Binegar</h2>
                <span>Business Development</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/1.jpg" style="background-image: url(&quot;img/member/1.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/1.jpg)'"></div>
                <div class="member-meta">
                    <h2>Tom Binegar</h2>
                    <span>Marketing Director</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/2.jpg" style="background-image: url(&quot;img/member/2.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/2.jpg)'"></div>
                <h2>Jackson Nash</h2>
                <span>Business Development</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/2.jpg" style="background-image: url(&quot;img/member/2.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/2.jpg)'"></div>
                <div class="member-meta">
                    <h2>Jackson Nash</h2>
                    <span>Marketing Director</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/3.jpg" style="background-image: url(&quot;img/member/3.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/3.jpg)'"></div>
                <h2>Tom Binegar</h2>
                <span>Business Development</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/3.jpg" style="background-image: url(&quot;img/member/3.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/3.jpg)'"></div>
                <div class="member-meta">
                    <h2>Aaron Ballance</h2>
                    <span>Ceo Bitcoin</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/4.jpg" style="background-image: url(&quot;img/member/4.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/4.jpg)'"></div>
                <h2>Melissa Barth</h2>
                <span>Product Manager</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/4.jpg" style="background-image: url(&quot;img/member/4.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/4.jpg)'"></div>
                <div class="member-meta">
                    <h2>Melissa Barth</h2>
                    <span>Product Manager</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/5.jpg" style="background-image: url(&quot;img/member/5.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/5.jpg)'"></div>
                <h2>Katy Abrams</h2>
                <span>Head of Design</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/5.jpg" style="background-image: url(&quot;img/member/5.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/5.jpg)'"></div>
                <div class="member-meta">
                    <h2>Katy Abrams</h2>
                    <span>Head of Design</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/1.jpg" style="background-image: url(&quot;img/member/1.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/1.jpg)'"></div>
                <h2>Tom Binegar</h2>
                <span>Business Development</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/1.jpg" style="background-image: url(&quot;img/member/1.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/1.jpg)'"></div>
                <div class="member-meta">
                    <h2>Tom Binegar</h2>
                    <span>Marketing Director</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/2.jpg" style="background-image: url(&quot;img/member/2.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/2.jpg)'"></div>
                <h2>Jackson Nash</h2>
                <span>Business Development</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/2.jpg" style="background-image: url(&quot;img/member/2.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/2.jpg)'"></div>
                <div class="member-meta">
                    <h2>Jackson Nash</h2>
                    <span>Marketing Director</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/3.jpg" style="background-image: url(&quot;img/member/3.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/3.jpg)'"></div>
                <h2>Tom Binegar</h2>
                <span>Business Development</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/3.jpg" style="background-image: url(&quot;img/member/3.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/3.jpg)'"></div>
                <div class="member-meta">
                    <h2>Aaron Ballance</h2>
                    <span>Ceo Bitcoin</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/4.jpg" style="background-image: url(&quot;img/member/4.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/4.jpg)'"></div>
                <h2>Melissa Barth</h2>
                <span>Product Manager</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/4.jpg" style="background-image: url(&quot;img/member/4.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/4.jpg)'"></div>
                <div class="member-meta">
                    <h2>Melissa Barth</h2>
                    <span>Product Manager</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
        <!-- Team member -->
        <div class="member">
            <div class="member-text">
                <div class="member-img set-bg" data-setbg="../../../assets/img/member/5.jpg" style="background-image: url(&quot;img/member/5.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/5.jpg)'"></div>
                <h2>Katy Abrams</h2>
                <span>Head of Design</span>
            </div>
            <div class="member-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="member-info">
                <div class="member-img mf set-bg" data-setbg="../../../assets/img/member/5.jpg" style="background-image: url(&quot;img/member/5.jpg&quot;);" [style.background-image]="'url(../../../../assets/img/member/5.jpg)'"></div>
                <div class="member-meta">
                    <h2>Katy Abrams</h2>
                    <span>Head of Design</span>
                </div>
                <p>Jackson Nash is a full-time faculty member of the Marketing and Behavioural Science Division at the Sauder School of Business at UBC. He leads the Entrepreneurship Group, in the undergraduate and graduate programs, teaching actively in both of these.</p>
            </div>
        </div>
    </div>
        </div>
</section>
    
    </div>
    
</section>
<!-- Blog section end -->


<!-- Newsletter section -->
<section class="newsletter-section gradient-bg">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-7 newsletter-text">
                <h2>Subscribe to our Newsletter</h2>
                <p>Sign up for our weekly industry updates, insider perspectives and in-depth market analysis.</p>
            </div>
            <div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
                <form class="newsletter-form">
                    <input type="text" placeholder="Enter your email">
                    <button>Get Started</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter section end -->