<section class="login_inner">
    <div class="container">
       <div class="row justify-content-center align-items-center">
          <div class="col-md-9">
             <div class="loginForm shadow">
                <div class="row">
                   <div class="col-md-6">
                      <div class="loginFormLeft">
                         <h1>Login</h1>
                         <form>
                            <div class="form-group">
                               <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Username">
                                  <div class="input-group-prepend">
                                     <span class="input-group-text"><i class="fas fa-user"></i></span>
                                  </div>
                               </div>
                            </div>
                            <div class="form-group ">
                               <div class="input-group">
                                  <input type="password" class="form-control" placeholder="Password">
                                  <div class="input-group-prepend">
                                     <span class="input-group-text"><i class="fas fa-key"></i></span>
                                  </div>
                               </div>
                            </div>
                            <div class="rempass">
                               <div class="remb">
                                  <div class="custom-control custom-checkbox">
                                     <input type="checkbox" class="custom-control-input" name="" id="remember">
                                     <label class="custom-control-label" for="remember">Remember me</label>
                                  </div>
                               </div>
                               <div class="foorgot">
                                  <a href="#!">Forgot Password?</a>
                               </div>
                            </div>
                            <div class="loging_buttom"><button type="submit" class="" >Login</button></div>
                         </form>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="loginFormRight">
                         <div class="loginFormRight_box">
                            <!-- <img src="image/logo.png" class="img-fluid"> -->
                           
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>